body {
  margin: 0;
  background: #0d1117;
  color: #c9d1d9;
  font-family: monospace;
}

header {
  padding: 10px;
  background: #161b22;
  display: flex;
  gap: 10px;
}

.layout {
  display: flex;
  height: calc(100vh - 50px);
}

#tree {
  width: 320px;
  background: #161b22;
  overflow-y: auto;
  padding: 10px;
}

.file {
  cursor: pointer;
  padding: 3px;
}

.file:hover {
  background: #30363d;
}

#editor {
  flex: 1;
  background: #0d1117;
  color: #c9d1d9;
  border: none;
  padding: 10px;
  resize: none;
}
