body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

.container {
  display: flex;
  height: 80vh;
  margin-top: 10px;
}

.tree {
  width: 30%;
  overflow: auto;
  border-right: 1px solid #333;
  padding: 10px;
}

.viewer {
  width: 70%;
  padding: 10px;
  background: #111;
  overflow: auto;
  white-space: pre-wrap;
}

.folder {
  font-weight: bold;
  cursor: pointer;
}

.file {
  cursor: pointer;
  margin-left: 15px;
}
